* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 30px 60px;
}

.view-scores {
    cursor: pointer;
}

.opening {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin: 30px 100px 0 100px;
}

.text {
    text-align: center;
    margin: 50px 100px 0 100px;
}

.text h1, .show-quiz h1 {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    margin: 10px;
}

.text p, .answer {
    font-size: 26px;
    font-family:  Helvetica, Arial, sans-serif;
    padding: 20px;
    margin: 10px;
}

.container {
    text-align: center;
}

.divider {
    visibility: hidden;
    border: 2px solid rgba(128, 128, 128, 0.5);
    width: 800px;
    margin: 0 auto;
}

.result {
    /* background-color: red; */
    margin: 10px 50px;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-size: 25px; 
    font-style: italic; 
    color: rgba(128, 128, 128, 1); 
    letter-spacing: 1px;
}

.btn {
    font-size: 26px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 7px;
    color: #fff;
    background-color: rgb(0, 80, 239);
    border: none;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    
}

.btn:hover {
    background-color: rgb(212, 16, 252);
}

@media screen and (max-width: 800px) {
    main {
        background-color: green;
    }
}